@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

:root {
  --clr-background-blue: #151b28;
  --clr-deep-blue: #1d273b;
  --clr-main-blue: #2196f3;
  --clr-light-blue: #88d7ff;
  --clr-main-white: #fff;
  --clr-light-gray: #d4d4d4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background-blue);
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--clr-background-blue);
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  /* border: 1px solid #fff; */
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  color: var(--clr-light-gray);
  font-size: clamp(0.5rem, 7vw, 1.5rem);
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--clr-light-gray);
  font-size: 0.9rem;
}

.nav-links a:hover {
  color: var(--clr-main-blue);
}

.about {
  width: 90%;
  margin: 10rem auto 5rem auto;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text-container {
  width: 50%;
}

.about-text-container .wave {
  font-size: 1.2rem;
  color: var(--clr-main-white);
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.about-text-container h1 {
  font-size: clamp(3rem, 7vw, 4rem);
  color: var(--clr-main-white);
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.about-text-container h1 span {
  color: var(--clr-main-blue);
}

.about-text-container p {
  color: var(--clr-main-white);
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.about-text-container p span {
  color: var(--clr-light-blue);
}

.resume-talk {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.resume-talk a {
  text-decoration: none;
  color: var(--clr-main-white);
  background-color: var(--clr-deep-blue);
  padding: 1em 2em;
  font-size: 1rem;
}

.socials a {
  color: #ffffff00;
  text-decoration: none;
}

.socials img {
  width: 25px;
  margin-right: 0.5rem;
}

.socials img:hover {
  filter: grayscale(100%);
}

.about-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  filter: grayscale(0%);
}

.about-image img:hover {
  filter: grayscale(100%);
}

.skills {
  width: 90%;
  margin: 0 auto;
}

.skills span {
  font-size: 1.2rem;
  color: var(--clr-main-white);
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  color: var(--clr-light-gray);
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.skill-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--clr-deep-blue);
  width: 90px;
  height: 90px;
  gap: 0.2rem;
  border: 1px solid var(--clr-deep-blue);
}

.skill-card:hover {
  border: 1px solid var(--clr-light-gray);
}

.skill-card img {
  width: 30px;
  height: 30px;
}

.skill-card p {
  font-weight: 500;
  color: var(--clr-light-gray);
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .about {
    display: block;
    margin: 7rem auto 3rem auto;
  }

  .about-text-container {
    width: 100%;
  }

  .about-image {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
  }
}

@media (max-width: 360px) {
  .resume-talk {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .resume-talk a {
    font-size: 0.8rem;
  }
}
