@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

:root {
  --clr-background-blue: #151b28;
  --clr-deep-blue: #1d273b;
  --clr-main-blue: #2196f3;
  --clr-light-blue: #88d7ff;
  --clr-main-white: #fff;
  --clr-light-gray: #d4d4d4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background-blue);
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--clr-background-blue);
  padding: 1em 0;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}

.logo span {
  color: var(--clr-light-gray);
  font-size: clamp(0.5rem, 7vw, 1.5rem);
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--clr-light-gray);
  font-size: 0.9rem;
}

.about {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #fff;
}

.about-text-container .wave {
    font-size:1.2rem;
    color: var(--clr-main-white);
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}

.about-text-container h1 {
    font-size: clamp(3rem, 7vw, 4rem);
    color: var(--clr-main-white);
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}

.about-text-container h1 span {
    color: var(--clr-main-blue);
}

.about-text-container p {
    color: var(--clr-main-white);
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.about-text-container p span {
    color: var(--clr-light-blue);
}

.resume-talk {
    margin: 2rem 0;
}

.resume-talk a {
    text-decoration: none;
    color: var(--clr-main-white);
    background-color: var(--clr-deep-blue);
    padding: 1em 2em;
    margin-right: 0.5rem;
    font-size: clamp(0.8rem, 7vw, 1rem);
}

.socials a {
  color: #ffffff00;
  text-decoration: none;
}

.socials img {
  width: 25px;
  margin-right: 0.5rem;
}


@media (max-width: 700px) {
  .nav-links {
    display: none;
  }
}
